{% extends "base.html" %} {% load static %} {% load account %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BECAANA Dulces</title>
    <!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"  crossorigin="anonymous"></script>
    
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    
        <!-- Add DataTables JavaScript -->
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
        <link rel="stylesheet" type="text/css" 
      href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
      <script type="text/javascript" charset="utf8" 
      src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm"><br /><br /><br /><br /><br /></div>
      </div>
    </div>
    <br /><br />
    <div class="col-sm" style="text-align: center">
      <div class="titlepage text_align_center">
        <br />
        <h2>Slecciona el producto a editar.</h2>
        <div class="row">
          <div class="col-sm"></div>
          <div class="col-sm d-flex flex-row-reverse"><a href="{% url 'products' %}">
            <button class="btn">Regresar a Menú de Puntos de Venta <img src="{% static 'images/candy.png' %}" style="width: 40px; margin-left: 3px; flex-direction: row-reverse;" alt="Regresar a Menú de Puntos de Venta"></button>
          </a></div>
          <div class="col-sm d-flex ">
            <a href="{% url 'dashboard' %}">
              <button class="btn">Regresar a Menú Principal <img src="{% static 'images/menuPrincipal.png' %}" style="width: 40px; margin-left: 3px; flex-direction: row-reverse; " alt="Regresar a Menú Principal"></button>
            </a>
            
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="col-sm">
            <table class="table table-striped" id="tableDataS">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" class="text-center">ID</th>
                    <th scope="col"class="text-center">Nombre del Producto</th>
                    <th scope="col"class="text-center">Presentación</th>
                    <th scope="col"class="text-center">Costo</th>
                    <th scope="col"class="text-center">Precio Venta al Público</th>
                    <th scope="col"class="text-center">Precio Venta Vendedor Reparto</th>
                    <th scope="col"class="text-center">Precio Venta Vendedor Externo</th>
                    <th scope="col"class="text-center">Stock min.</th>
                    <th scope="col"class="text-center">Stock max.</th>
                    <th scope="col"class="text-center">Imagen</th>
                    <th scope="col"class="text-center">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                    
                    {% for elemento in articulos %}
                    <tr>
                        <td class="text-center">{{elemento.id}}</td>
                        <td class="text-center">{{elemento.nombreArticulo}}</td>
                        <td class="text-center">{{elemento.unidad}}</td>
                        <td class="text-center">${{elemento.costo|stringformat:".2f"}}</td>
                        <td class="text-center">${{elemento.precioVentaPublico|stringformat:".2f"}}</td>
                        <td class="text-center">${{elemento.precioVentaVendedorReparto|stringformat:".2f"}}</td>
                        <td class="text-center">${{elemento.precioVentaVendedorExterno|stringformat:".2f"}}</td>
                        <td class="text-center">{{elemento.cantidadMinima|stringformat:".2f"}}</td>
                        <td class="text-center">{{elemento.cantidadMaxima|stringformat:".2f"}}</td>
                        <td class="text-center"><img src="{{elemento.urlArticulo}}" alt="Imagen Producto" style="width: 50px;height: 50px;"></td>
                        <td>
                            <a href="{% url 'deleteProduct' elemento.id %}"><img src="{% static 'images/delete.png' %}" style="width: 30px;" alt="Eliminar Producto"></a>
                            <a href="{% url 'editSingleProduct' elemento.id %}"><img src="{% static 'images/edit.png' %}" style="width: 30px;" alt="Editar Producto"></a>
                        </td>
                        

                        <!-- <td style="max-width: 600px; overflow: scroll;">{{elemento.seq|truncatewords:"100"}}</td> -->
                    </tr>
                    {% endfor %}
    
                </tbody>
              </table>
        </div>
    </div>
  </body>
  <script>
    (function($) {
        $(document).ready(function() {
            $('#tableDataS').dataTable();
        });
    })(jQuery);
</script>
</html>

{% endblock %}
