{% extends "base.html" %} {% load humanize %} {% block content %}{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Dashboard 💸</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- CSS de DataTables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"  crossorigin="anonymous"></script>
    
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    
        <!-- Add DataTables JavaScript -->
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
        <link rel="stylesheet" type="text/css" 
      href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
      <script type="text/javascript" charset="utf8" 
      src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
</head>
<body> <br><br><br><br><br><br><br>
    <div class="container">
        <h1 style="text-align: center; margin: 20px; margin-bottom: 50px;">Finanzas de la empresa 💸</h1>
        <div class="row">
            <div class="col-sm border border-primary" style="text-align: center;">
                <a href="#todayData"> Datos de hoy </a>
            </div>
            <div class="col-sm border border-primary" style="text-align: center;">
                <a href="#weeklyData" > Datos semanales </a>
            </div>
            <div class="col-sm border border-primary" style="text-align: center;">
                <a href="#podio" > Podio </a>
            </div>
            <div class="col-sm border border-primary" style="text-align: center;">
                <a href="#historicData" > Datos históricos </a>
            </div>
            <div class="col-sm border border-primary" style="text-align: center;">
                <a href="#salarios" > Salarios </a>
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm border border-primary" style="text-align: center;">
                <a href="#ventasSemanalesVendedores" > Ventas Semanales Vendedores </a>
            </div>
            <div class="col-sm border border-primary" style="text-align: center;">
                <a href="#valorStockVendedores" > Valor de Stock de Vendedores </a>
            </div>
        </div>
        <hr>
        <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 20px;" id="todayData">
            <h3>Datos de hoy 🌅</h3>
            <div class="col-sm"> Ingreso total de ventas globales de hoy: <br> <br><span style="text-align: center; font-size: 30px;"><strong> $ {{totalVentasHoy|stringformat:".2f"|intcomma}} </strong></div>

            <div class="col-sm"> Ingreso de ventas de los vendedores de hoy: <br> <br> <span style="text-align: center; font-size: 30px;"><strong> $ {{ventas_hoy_vendedores|stringformat:".2f"|intcomma}} </strong> </span></div>
            <div class="col-sm"> Ingreso de ventas de los puntos de venta de hoy: <br> <br> <span style="text-align: center; font-size: 30px;"><strong> $ {{ventas_hoy_puntos_venta|stringformat:".2f"|intcomma}} </strong> </span></div>
        </div>
        <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
            <div class="col-sm"> Cantidad total de ventas globales de hoy: <br> <br> <span style="text-align: center; font-size: 30px;"><strong>  {{numeroTotalVentasHoy|floatformat:-2}} </strong> </span></div>
            <div class="col-sm"> Cantidad total de ventas de vendedores de hoy: <br> <br> <span style="text-align: center; font-size: 30px;"><strong>  {{numerosVentasHoySellers|floatformat:-2}} </strong> </span></div>
            <div class="col-sm"> Cantidad total de ventas de puntos de venta de hoy: <br> <br> <span style="text-align: center; font-size: 30px;"><strong>  {{numerosVentaPVHoy|floatformat:-2}} </strong> </span></div>
        </div>
        <hr>
        <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 20px;" id="weeklyData">
            <h3>Datos semanales 📅</h3>
            <div class="col-sm"> Total de ventas semanal: <br> <br><span style="text-align: center; font-size: 30px;"><strong> $ {{dineroSemanalTotal|stringformat:".2f"|intcomma}} </strong></div>
            <div class="col-sm"> Total de ventas vendedores semanal: <br> <br><span style="text-align: center; font-size: 30px;"><strong> $ {{dineroSemanalSeller|stringformat:".2f"|intcomma}} </strong></div>
            <div class="col-sm"> Total de ventas puntos de venta semanal: <br> <br><span style="text-align: center; font-size: 30px;"><strong> $ {{dineroSemanalPV|stringformat:".2f"|intcomma}} </strong></div>
        </div>
        <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
            <div class="col-sm"> Cantidad total de ventas semanal: <br> <br><span style="text-align: center; font-size: 30px;"><strong> {{cantidadTotalVentasSemanales}} </strong></div>
            <div class="col-sm"> Cantidad de ventas de vendedores semanal: <br> <br><span style="text-align: center; font-size: 30px;"><strong> {{cantidadVentasSemanalesVendedores}} </strong></div>
            <div class="col-sm"> Cantidad de ventas puntos de venta semanal: <br> <br><span style="text-align: center; font-size: 30px;"><strong> {{cantidadVentasSemanalesPV}} </strong></div>
        </div>        
        <hr>
        <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 20px;" id="podio">
            <h3>Podio 🏆</h3>
            <div class="col-sm"> Mejor vendedor de la semana: <br> <br><span style="text-align: center; font-size: 20px;"><strong> {{vendedorMasRepetido.0}} </strong></div>
            <div class="col-sm"> Mejor punto de venta de la semana: <br> <br><span style="text-align: center; font-size: 20px;"><strong> {{puntoVentaMasRepetido.0}} </strong></div>
            <div class="col-sm"> Mejor producto de la semana global: <br> <br><span style="text-align: center; font-size: 20px;"><strong> {{productoGlobalMasVendidoSemanal.0}} </strong></div>
        </div>
        <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
            <div class="col-sm"> Producto más vendido por el vendedor en la semana: <br> <br><span style="text-align: center; font-size: 20px;"><strong> {{productMasVendidoSellerSemanal.0}} </strong></div>
            <div class="col-sm"> Producto más vendido por puntos de venta en la semana: <br> <br><span style="text-align: center; font-size: 20px;"><strong> {{productMasVendidoPVSemanal.0}} </strong></div>
            <div class="col-sm"> Mejor producto de la semana global: <br> <br><span style="text-align: center; font-size: 20px;"><strong> {{productoGlobalMasVendidoSemanal.0}} </strong></div>
        </div>
        <hr>
        <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 20px;" id="historicData">
            <h3>Datos históricos 📈</h3>
            <div class="col-sm"> Historico total de ventas: <br> <br><span style="text-align: center; font-size: 30px;"><strong> $ {{total_ventas_historico|stringformat:".2f"|intcomma}} </strong></div>
            <div class="col-sm"> Historico total de ventas vendedores: <br> <br><span style="text-align: center; font-size: 30px;"><strong> $ {{ventas_historico_vendedores|stringformat:".2f"|intcomma}} </strong></div>
            <div class="col-sm"> Historico total de ventas puntos de venta: <br> <br><span style="text-align: center; font-size: 30px;"><strong> $ {{ventas_historico_puntos_venta|stringformat:".2f"|intcomma}} </strong></div>
        </div>
        <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
            <div class="col-sm"> Cantidad histórica de ventas: <br> <br><span style="text-align: center; font-size: 30px;"><strong> {{total_ventas_historico_numero|floatformat:"-2"}} </strong></div>
            <div class="col-sm"> Cantidad histórica de ventas vendedores: <br> <br><span style="text-align: center; font-size: 30px;"><strong> {{numero_ventas_historico_vendedores|floatformat:"-2"}} </strong></div>
            <div class="col-sm"> Cantidad histórica de ventas puntos de venta: <br> <br><span style="text-align: center; font-size: 30px;"><strong> {{numero_ventas_historico_puntos_venta|floatformat:"-2"}} </strong></div>
            <hr>
        </div>
    
        <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 20px;" id="salarios">
            <h3>Cálculo de salarios de vendedores 👨‍💼</h3>
            <table class="table" id="TablaSalarios">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Información del usuario</th>
                        <th scope="col">Dinero en ventas</th>
                        <th scope="col">Salario Aproximado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in ventasSemanalesPorVendedorOrigin %}
                    <tr>
                        <td>{{ item.origin }}</td>
                        <td>${{ item.total_ventas|stringformat:".2f"|intcomma }}</td>
                        <td>${{ item.salario|stringformat:".2f"|intcomma }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 20px;" id="salariosSemanaPasada">
            <h3>Cálculo de salarios de vendedores semana pasada 👨‍💼</h3>
            <table class="table" id="tableSalariosVendedoresSemanaPasada">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Información del usuario</th>
                        <th scope="col">Dinero en ventas</th>
                        <th scope="col">Salario Aproximado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in ventasSemanalesPasadasPorVendedorOrigin %}
                    <tr>
                        <td>{{ item.origin }}</td>
                        <td>${{ item.total_ventas|stringformat:".2f"|intcomma }}</td>
                        <td>${{ item.salario|stringformat:".2f"|intcomma }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- VENTAS SEMANALES POR VENDEDORES -->
        <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 20px;" id="ventasSemanalesVendedores">
            <h3>Ventas semanales por vendedores 👨‍💼</h3>
            <!-- {{grouped_sales}} -->
            {% for origin, sales in grouped_sales.items %}
            <h5 style="text-align: left;"> {{ origin }}</h5>
            <table class="table" id="tableSalariosVendedores{{forloop.counter}}">
                <thead class="thead-dark">
                    <tr>
                        <th>Número de operación</th>
                        <th>Total Vendido</th>
                        <th>Fecha</th>
                        <th>Ganancia Total</th>
                        <th>Número de productos vendidos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sale in sales %}
                        <tr>
                            <td>{{ sale.code }}</td>
                            <td>${{ sale.grand_total|stringformat:".2f"|intcomma }}</td>
                            <td>{{ sale.date_added }}</td>
                            <td>${{ sale.gananciaPorVenta|stringformat:".2f"|intcomma }}</td>
                            <td>{{ sale.acumuladorProductosPorVenta|floatformat:"-2"}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script>
                (function($) {
                    $(document).ready(function() {
                        $('#tableSalariosVendedores{{forloop.counter}}').dataTable();
                    });
                })(jQuery);
            </script>
            
        {% endfor %}

        <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 20px;" id="ventasSemanalesVendedores">
            <h3>Ventas de la semana pasada por vendedores 👨‍💼</h3>
            <!-- {{grouped_sales}} -->
            {% for origin, sales in grouped_sales_pasadas.items %}
            <h5 style="text-align: left;"> {{ origin }}</h5>
            <table class="table" id="tableSalariosVendedoresPasada{{forloop.counter}}">
                <thead class="thead-dark">
                    <tr>
                        <th>Número de operación</th>
                        <th>Total Vendido</th>
                        <th>Fecha</th>
                        <th>Ganancia Total</th>
                        <th>Número de productos vendidos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sale in sales %}
                        <tr>
                            <td>{{ sale.code }}</td>
                            <td>${{ sale.grand_total|stringformat:".2f"|intcomma }}</td>
                            <td>{{ sale.date_added }}</td>
                            <td>${{ sale.gananciaPorVenta|stringformat:".2f"|intcomma }}</td>
                            <td>{{ sale.acumuladorProductosPorVenta|floatformat:"-2"}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script>
                (function($) {
                    $(document).ready(function() {
                        $('#tableSalariosVendedoresPasada{{forloop.counter}}').dataTable();
                    });
                })(jQuery);
            </script>
            
        {% endfor %}

        </div>
        <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 20px;" id="valorStockVendedores">
            <h3>Stock de Vendedores para BECAANA👨‍💼</h3>
            <!-- <h5>Valor del stock (costo para BECAANA * Stock) : $ {{total_cost|stringformat:".2f"|intcomma}} MXN </h5>
              <h5>Dinero al vender al público: $ {{total_public_price|stringformat:".2f"|intcomma}} MXN </h5>
              <h5>Ganancia Total: $ {{ gananciaTotal |stringformat:".2f"|intcomma}}</h5> -->

              <br><br><br>
    
              <div class="row">
                <div class="col-sm">
                    <table class="table table-bordered" id="tablaStockVendedoresValores">
                        <thead class="thead-dark">
                            <tr>
                                <th>Información del usuario</th>
                                <th>Valor del Stock</th>
                                <th>Cantidad total de productos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in resultados %}
                                <tr>
                                    <td>{{ item.nombreUsuario }}</td>
                                    <td>$ {{ item.valordeStock|stringformat:".2f"|intcomma  }}</td>
                                    <td>{{ item.acumuladorProductos|stringformat:".2f"|intcomma  }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>

              <div class="row">
            <h3>Stock de Vendedores para Límites de carga👨‍💼</h3>

                <div class="col-sm">
                    <table class="table table-bordered" id="tablaStockLimites">
                        <thead class="thead-dark">
                            <tr>
                                <th>Información del usuario</th>
                                <th>Valor del Stock</th>
                                <th>Cantidad total de productos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in resultados %}
                                <tr>
                                    <td>{{ item.nombreUsuario }}</td>
                                    <td>$ {{ item.valorStockLimites|stringformat:".2f"|intcomma  }}</td>
                                    <td>{{ item.acumuladorProductos|stringformat:".2f"|intcomma  }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <script>
                        (function($) {
                            $(document).ready(function() {
                                $('#tablaStockLimites').dataTable();
                            });
                        })(jQuery);
                    </script>
                </div>
              </div>
    
              
    
            {% for origin, sales in listaAgrupada.items %}
                <h5 style="text-align: left;"> {{ origin }} </h5> 
                <table class="table" id="table_stockTable_{{forloop.counter}}">
                    <thead class="thead-dark">
                        <tr>
                            <th>Producto</th>
                            <th>Stock Actual</th>
                            <th>Costo Unitario</th>
                            <th>Precio Venta Reparto</th>
                            <th>Ganancia Unitaria</th>
                            <th>Ganancia Total</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sale in sales %}
                            <tr>
                                <td>{{ sale.product_id }}</td>
                                <td>{{ sale.qty|floatformat:"-2"|intcomma }}</td>
                                <td>${{ sale.product_id.costo|stringformat:".2f"|intcomma }}</td>
                                <td>${{ sale.product_id.precioVentaVendedorReparto|stringformat:".2f"|intcomma }}</td>
                                <td>${{ sale.gananciaUnitaria|stringformat:".2f"|intcomma }}</td>
                                <td>${{ sale.ganancia|stringformat:".2f"|intcomma}}</td>
                      <td><a href="{% url 'updateStockSellerFinance' sale.pk %}"><img src="{% static 'images/edit.png' %}" style="width: 30px;" alt="Editar Producto"></a><a href="{% url 'deleteStockSellersFinance' sale.pk %}"><img src="{% static 'images/delete.png' %}" style="width: 30px;" alt="Eliminar Producto"></a></td>
    
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <script>
                    (function($) {
                        $(document).ready(function() {
                            $('#table_stockTable_{{forloop.counter}}').dataTable();
                        });
                    })(jQuery);
                </script>
            {% endfor %}
            
        </div>

        

        




    </div>


    <script>
        (function($) {
            $(document).ready(function() {
                $('#tablaStockVendedoresValores').dataTable();
            });
        })(jQuery);
    </script>
    <script>
        (function($) {
            $(document).ready(function() {
                $('#tableSalariosVendedores').dataTable();
                $('#tableSalariosVendedoresSemanaPasada').dataTable();
            });
        })(jQuery);
    </script>
    <script>
        (function($) {
            $(document).ready(function() {
                $('#TablaSalarios').dataTable();
            });
        })(jQuery);
    </script>

</body>
</html>



{% endblock %}