<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROHIBITED</title>
</head>
<body>
    <br><br><br><br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm" style="text-align: center;">
                <h1>No has ingresado a tu cuenta, para ingresar a tu cuenta da click 
                    <a href="{% url 'account_login' %}">aquí.</a>
                </h1>
            </div>
        </div>
    </div>
</body>
</html>