{% extends "base.html" %}
{% load static %}
<!-- Page title  -->
{% block title %}Sellers{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- Datatables -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css ' %}" rel="stylesheet">
<link href="{% static 'css/pagination_buttons.css ' %}" rel="stylesheet">
{% endblock stylesheets %}

<!-- Page Heading -->
{% block heading %}Sellers{% endblock heading %}

<!-- Page content  -->
{% block content %}
{% load mathfilters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Inventarios Vendedores</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"  crossorigin="anonymous"></script>
    
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    
        <!-- Add DataTables JavaScript -->
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
        <link rel="stylesheet" type="text/css" 
      href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
      <script type="text/javascript" charset="utf8" 
      src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
      
    
</head>
<body>
    <br><br><br><br><br><br><br><br><br>
    <div class="container">
        <div class="row cargaForm">
          <div class="col-sm">
            <form method="post" action="#" class="main_form">
              {% csrf_token %}
              
              {{form}}
              <div class="col-sm d-flex justify-content-center" style="align-items: center;">
                  <button class="send_btn text-center" style="margin-bottom: 20px;">Guardar</button><br>
                  
              </div>
              <div class="col-sm">
                <p></p>
              </div>
          </form>
          </div>
        </div>
        <div class="titlepage text_align_center">
          <br />
          <h2>Stock Actual</h2>
        </div>
        <div class="row">
          <div class="col-sm">
            <table id="stockTable" class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Nombre del Vendedor</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Stock Actual</th>
                  <th scope="col">Precio Venta Publico</th>
                  <th scope="col">Total</th>
  
                </tr>
              </thead>

              <tbody>
                {% for elemento in lista %}

                <tr>
                  <td>{{elemento.seller_id}}</td>
                  <td>{{elemento.product_id}}</td>
                  <td>{{elemento.qty}}</td>
                  <td>${{elemento.product_id.precioVentaPublico|floatformat:"2"}}</td>
                  <td>${{elemento.product_id.precioVentaPublico|mul:elemento.qty|floatformat:"2"}}</td>
                </tr>
                {% endfor %}
              </tbody>
  
             <br>
            </table>
  
          </div>
        </div>
        <div class="row" id="areaToPrint">
          <div class="col-sm">
            <div class=" text_align_center">
              <br />
              <h2>Lo que cargaste hoy: {{request.user.first_name}} {{request.user.last_name}} ({{request.user.username}}) </h2>
              <a href="#" style="-webkit-border-radius: 10;
              -moz-border-radius: 10;
              border-radius: 10px;
              font-family: Arial;
              color: #ffffff;
              font-size: 20px;
              background: #d98934;
              padding: 10px 20px 10px 20px;
              text-decoration: none;" class="send_btn text-center"  onclick="window.print()">Imprimir</a><br>
            </div>
            <table id="cargaTable" class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Nombre del Vendedor</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Fecha</th>
  
                </tr>
              </thead>
              <tbody>
                {% for item in registro %}

                <tr>
                  <td>{{ item.usuario }}</td>
                  <td>{{ item.nombre_producto }}</td>
                  <td>{{ item.cantidad }}</td>
                  <td>{{ item.fecha }}</td>
                </tr>
                {% endfor %}
              </tbody>
  
             <br>
            </table>

          </div>
        </div>
      </div>
      <style>
        @media only print {
            footer, header,button,a, #stockTable_wrapper , .sidebar , .titlepage, .cargaForm {
                display:none;
            }
        }
    </style>
      <script>
        (function($) {
            $(document).ready(function() {
                $('#stockTable').dataTable();
            });
        })(jQuery);
    </script>
    <script>
      (function($) {
          $(document).ready(function() {
              $('#cargaTable').dataTable();
          });
      })(jQuery);
  </script>
    
</body>
</html>

{% endblock %}