{% extends "base.html" %} {% load humanize %} {% block content %}{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Ventas 🕓💸</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- CSS de DataTables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"  crossorigin="anonymous"></script>
    
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    
        <!-- Add DataTables JavaScript -->
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
        <link rel="stylesheet" type="text/css" 
      href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
      <script type="text/javascript" charset="utf8" 
      src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
</head>
<body> <br><br><br><br><br><br><br>
    <div class="container">
        <h1 style="text-align: center; margin: 20px; margin-bottom: 50px;">Historial de ventas por productos💸</h1>


        <div class="row">
            <h3>Conglomerado de ventas por producto</h3>
            <table class="table table-striped" id="tanlasssss">
                <thead>
                    <tr>
                        <th>Nombre del Producto</th>
                        <th>Fecha</th>
                        <th>Cantidad Vendida</th>
                        <!-- <th>Cantidad de productos vendidos</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Opciones</th> -->
                        <!-- <th>Descuento</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for venta in conteo_productos %}
                    <tr>
                        <!-- <td>{{ producto.pk }}</td> -->
                        <!-- <td>{{ producto.sale_id_id }}</td> -->
                        <td>{{ venta.product_id }}</td>
                        <td >{{ venta.fecha_venta }}</td>
                        <td>{{ venta.total_vendido }}</td>
                        
                        <!-- <td>$ {{ producto.discount|stringformat:".2f"|intcomma }}</td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <h3>Historial de Ventas General Histórico de Vendedores</h3>

            <table class="table table-striped" id="tanlasss">
                <thead>
                    <tr>
                        <!-- <th>ID</th> -->
                        <!-- <th>Venta ID</th> -->
                        <th>Usuario</th>
                        <th>Nombre del Usuario</th>
                        <th>Número de venta</th>
                        <th>Cantidad de productos vendidos</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Opciones</th>
                        <!-- <th>Descuento</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for venta in todasVentasVendedores %}
                    <tr>
                        <!-- <td>{{ producto.pk }}</td> -->
                        <!-- <td>{{ producto.sale_id_id }}</td> -->
                        <td>{{ venta.username }}</td>
                        <td>{{ venta.fullName }}</td>
                        <td>{{ venta.code }}</td>
                        <td>{{ venta.cantidadProductosVendidos|stringformat:".2f"|intcomma }}</td>
                        <td data-order="{{ venta.date_added|date:'Y-m-d H:i:s' }}">{{ venta.date_added|date:"d/m/Y H:i" }}</td>
                        <td>$ {{ venta.grand_total|stringformat:".2f"|intcomma }}</td>
                        <td>
                            <a href="{% url 'deleteSaleSeller' venta.id %}"><img src="{% static 'images/delete.png' %}" style="width: 30px;" alt="Eliminar Venta"></a>
                        </td> 
                        <!-- <td>$ {{ producto.discount|stringformat:".2f"|intcomma }}</td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="row">
            <h3>Historial de Ventas General Histórico de Puntos de Venta</h3>

            <table class="table table-striped" id="tanlassss">
                <thead>
                    <tr>
                        <!-- <th>ID</th> -->
                        <!-- <th>Venta ID</th> -->
                        <th>Usuario</th>
                        <th>Nombre del Punto de Venta</th>
                        <th>Número de venta</th>
                        <th>Cantidad de productos vendidos</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Opciones</th>
                        <!-- <th>Descuento</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for venta in todasVentasPuntosVenta %}
                    <tr>
                        <!-- <td>{{ producto.pk }}</td> -->
                        <!-- <td>{{ producto.sale_id_id }}</td> -->
                        <td>{{ venta.username }}</td>
                        <td>{{ venta.fullName }}</td>
                        <td>{{ venta.code }}</td>
                        <td>{{ venta.cantidadProductosVendidos|stringformat:".2f"|intcomma }}</td>
                        <td data-order="{{ venta.date_added|date:'Y-m-d H:i:s' }}">{{ venta.date_added|date:"d/m/Y H:i" }}</td>
                        <td>$ {{ venta.grand_total|stringformat:".2f"|intcomma }}</td>
                        <td>
                            <a href="{% url 'deleteSaleSeller' venta.id %}"><img src="{% static 'images/delete.png' %}" style="width: 30px;" alt="Eliminar Venta"></a>
                        </td> 
                        <!-- <td>$ {{ producto.discount|stringformat:".2f"|intcomma }}</td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>



        
        <div class="row">
            <h3>Ventas de hoy por vendedores de reparto y vendedores externos generales</h3>
            
            <table class="table table-striped" id="tanla">
                <thead>
                    <tr>
                        <!-- <th>ID</th> -->
                        <!-- <th>Venta ID</th> -->
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <!-- <th>Descuento</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productosVendidosVendedoresHoy %}
                    <tr>
                        <!-- <td>{{ producto.pk }}</td> -->
                        <!-- <td>{{ producto.sale_id_id }}</td> -->
                        <td>{{ producto.product_id__nombreArticulo }}</td>
                        <td>$ {{ producto.price|stringformat:".2f"|intcomma }}</td>
                        <td>{{ producto.count|stringformat:".2f"|intcomma }}</td>
                        <td>$ {{ producto.total_amount|stringformat:".2f"|intcomma }}</td>
                        <!-- <td>$ {{ producto.discount|stringformat:".2f"|intcomma }}</td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3>Agrupados por vendedores</h3>
            {% for origin, productos in productosVendidosVendedoresHoyAgrupados.items %}
    <h3>Origen: {{ origin }}</h3>
    <table border="1" class="table table-striped" id="tanble_{{forloop.counter}}">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio Unitario</th>
                <th>Cantidad Total</th>
                <th>Monto Total</th>
                <th>Número de Ventas</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.product_id__nombreArticulo }}</td>
                <td>$ {{ producto.price|stringformat:".2f"|intcomma }}</td>
                <td>{{ producto.total_qty|stringformat:".2f"|intcomma }}</td>
                <td>$ {{ producto.total_amount|stringformat:".2f"|intcomma }}</td>
                <td>{{ producto.count|stringformat:".2f"|intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        (function($) {
            $(document).ready(function() {
                $('#tanble_{{forloop.counter}}').dataTable();
            });
        })(jQuery);
    </script>
    {% endfor %}
            <hr>
            <h3>Ventas de hoy por puntos de venta</h3>
            <table class="table table-striped" id="tanlas_pv">
                <thead>
                    <tr>
                        <!-- <th>ID</th> -->
                        <!-- <th>Venta ID</th> -->
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <!-- <th>Descuento</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productosVendidosPuntosVentaHoy %}
                    <tr>
                        <!-- <td>{{ producto.pk }}</td> -->
                        <!-- <td>{{ producto.sale_id_id }}</td> -->
                        <td>{{ producto.product_id__nombreArticulo }}</td>
                        <td>$ {{ producto.price|stringformat:".2f"|intcomma }}</td>
                        <td>{{ producto.count|stringformat:".2f"|intcomma }}</td>
                        <td>$ {{ producto.total_amount|stringformat:".2f"|intcomma }}</td>
                        <!-- <td>$ {{ producto.discount|stringformat:".2f"|intcomma }}</td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <h3>Agrupados por puntos de venta</h3>
            {% for origin, productos in productosVendidosPuntosVentaHoyAgrupados.items %}
    <h3>Origen: {{ origin }}</h3>
    <table border="1" class="table table-striped" id="tanble_pv_{{forloop.counter}}">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio Unitario</th>
                <th>Cantidad Total</th>
                <th>Monto Total</th>
                <th>Número de Ventas</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.product_id__nombreArticulo }}</td>
                <td>$ {{ producto.price|stringformat:".2f"|intcomma }}</td>
                <td>{{ producto.total_qty|stringformat:".2f"|intcomma }}</td>
                <td>$ {{ producto.total_amount|stringformat:".2f"|intcomma }}</td>
                <td>{{ producto.count|stringformat:".2f"|intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        (function($) {
            $(document).ready(function() {
                $('#tanble_pv_{{forloop.counter}}').dataTable();
            });
        })(jQuery);
    </script>
    {% endfor %}
    <script>
        (function($) {
            $(document).ready(function() {
                $('#tanlas_pv').dataTable();
            });
        })(jQuery);
    </script>
    <script>
        (function($) {
            $(document).ready(function() {
                $('#tanlasss').dataTable({
                    "columnDefs": [
                { "type": "date", "targets": 4 }
            ],
            "order": [[ 4, "desc" ]]  // Ordena por la columna de fecha (índice 4) de forma descendente por defecto
                });
            });
        })(jQuery);
    </script>
    <script>
        (function($) {
            $(document).ready(function() {
                $('#tanlassss').dataTable({
                    "columnDefs": [
                { "type": "date", "targets": 4 }
            ],
            "order": [[ 4, "desc" ]]  // Ordena por la columna de fecha (índice 4) de forma descendente por defecto
                });
            });
        })(jQuery);
    </script>
    <script>
        (function($) {
            $(document).ready(function() {
                $('#tanlasssss').dataTable();
            });
        })(jQuery);
    </script>


        </div>


    </div>
    <hr>
    <div class="container">
        <h1 style="text-align: center; margin: 20px; margin-bottom: 50px;">Historial de ventas generales💸</h1>
        <!-- <div class="row">
            <div class="col-sm border border-primary" style="text-align: center;">
                <a href="#todayData"> Ventas de hoy por vendedores de reparto </a>
            </div>
            <div class="col-sm border border-primary" style="text-align: center;">
                <a href="#weeklyData" > Ventas de hoy por vendedores externos </a>
            </div>
            <div class="col-sm border border-primary" style="text-align: center;">
                <a href="#podio" > Ventas de hoy por puntos de venta </a>
            </div>
            <div class="col-sm border border-primary" style="text-align: center;">
                <a href="#historicData" > Ventas globales por vendedor de reparto</a>
            </div>
            <div class="col-sm border border-primary" style="text-align: center;">
                <a href="#salarios" > Ventas globales por vendedores externos </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm border border-primary" style="text-align: center;">
                <a href="#ventasSemanalesVendedores" > Ventas globales por puntos de venta </a>
            </div>
            <div class="col-sm border border-primary" style="text-align: center;">
                <a href="#valorStockVendedores" > Ventas globales generales </a>
            </div>
        </div> -->
        <!-- <hr> -->
        <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 20px;" id="todayData">
            <h3>Ventas de hoy de vendedores </h3>
            <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 20px;" id="ventasSemanalesVendedores">
                <!-- {{grouped_sales_hoy_vendedores}} -->
                {% for origin, sales in grouped_sales_hoy_vendedores.items %}
                <h5 style="text-align: left;"> {{ origin }}</h5>
                <table class="table" id="tableSalariosVendedores_{{forloop.counter}}">
                    <thead class="thead-dark">
                        <tr>
                            <th>Número de operación</th>
                            <th>Total Vendido</th>
                            <th>Fecha</th>
                            <th>Ganancia Total</th>
                            <th>Número de productos vendidos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sale in sales %}
                            <tr>
                                <td>{{ sale.code }}</td>
                                <td>${{ sale.grand_total|stringformat:".2f"|intcomma }}</td>
                                <td>{{ sale.date_added }}</td>
                                <td>${{ sale.gananciaPorVenta|stringformat:".2f"|intcomma }}</td>
                                <td>{{ sale.acumuladorProductosPorVenta|floatformat:"-2"}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <script>
                    (function($) {
                        $(document).ready(function() {
                            $('#tableSalariosVendedores_{{forloop.counter}}').dataTable();
                        });
                    })(jQuery);
                </script>
                
            {% endfor %}
            
        </div>
        <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 20px;" id="weeklyData">
            <h3>Ventas de hoy de puntos de venta</h3>
            {% for origin, sales in grouped_sales_hoy_puntosVenta.items %}
                <h5 style="text-align: left;"> {{ origin }}</h5>
                <table class="table" id="tableSalariosPuntosVenta_{{forloop.counter}}">
                    <thead class="thead-dark">
                        <tr>
                            <th>Número de operación</th>
                            <th>Total Vendido</th>
                            <th>Fecha</th>
                            <th>Ganancia Total</th>
                            <th>Número de productos vendidos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sale in sales %}
                            <tr>
                                <td>{{ sale.code }}</td>
                                <td>${{ sale.grand_total|stringformat:".2f"|intcomma }}</td>
                                <td>{{ sale.date_added }}</td>
                                <td>${{ sale.gananciaPorVenta|stringformat:".2f"|intcomma }}</td>
                                <td>{{ sale.acumuladorProductosPorVenta|floatformat:"-2"}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <script>
                    (function($) {
                        $(document).ready(function() {
                            $('#tableSalariosPuntosVenta_{{forloop.counter}}').dataTable();
                        });
                    })(jQuery);
                </script>
                
            {% endfor %}
            
        </div>
        <!-- <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 20px;" id="weeklyData">
            <h3>Ventas de hoy generales</h3>
            
        </div> -->
        <hr>
        <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 20px;" id="todayData">
            <h3>Ventas globales de vendedores </h3>
            {% for origin, sales in grouped_sales_vendedores.items %}
            <h5 style="text-align: left;"> {{ origin }}</h5>
            <table class="table" id="tableSalariosVendedores___{{forloop.counter}}">
                <thead class="thead-dark">
                    <tr>
                        <th>Número de operación</th>
                        <th>Total Vendido</th>
                        <th>Fecha</th>
                        <th>Ganancia Total</th>
                        <th>Número de productos vendidos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sale in sales %}
                        <tr>
                            <td>{{ sale.code }}</td>
                            <td>${{ sale.grand_total|stringformat:".2f"|intcomma }}</td>
                            <td>{{ sale.date_added }}</td>
                            <td>${{ sale.gananciaPorVenta|stringformat:".2f"|intcomma }}</td>
                            <td>{{ sale.acumuladorProductosPorVenta|floatformat:"-2"}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script>
                (function($) {
                    $(document).ready(function() {
                        $('#tableSalariosVendedores___{{forloop.counter}}').dataTable();
                    });
                })(jQuery);
            </script>
            
        {% endfor %}

            
        </div>
        
        <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 20px;" id="weeklyData">
            <h3>Ventas globales por punto de venta</h3>
            {% for origin, sales in grouped_sales_puntosVenta.items %}
            <h5 style="text-align: left;"> {{ origin }}</h5>
            <table class="table" id="tableSalariosVendedores__{{forloop.counter}}">
                <thead class="thead-dark">
                    <tr>
                        <th>Número de operación</th>
                        <th>Total Vendido</th>
                        <th>Fecha</th>
                        <th>Ganancia Total</th>
                        <th>Número de productos vendidos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sale in sales %}
                        <tr>
                            <td>{{ sale.code }}</td>
                            <td>${{ sale.grand_total|stringformat:".2f"|intcomma }}</td>
                            <td>{{ sale.date_added }}</td>
                            <td>${{ sale.gananciaPorVenta|stringformat:".2f"|intcomma }}</td>
                            <td>{{ sale.acumuladorProductosPorVenta|floatformat:"-2"}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script>
                (function($) {
                    $(document).ready(function() {
                        $('#tableSalariosVendedores__{{forloop.counter}}').dataTable();
                    });
                })(jQuery);
            </script>
            
        {% endfor %}
            
        </div>
        <hr>
        <!-- VENTAS SEMANALES POR VENDEDORES -->
        <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 20px;" id="ventasSemanalesVendedores">
            <h3>Ventas semanales por vendedores 👨‍💼</h3>
            <!-- {{grouped_sales}} -->
            {% for origin, sales in grouped_sales.items %}
            <h5 style="text-align: left;"> {{ origin }}</h5>
            <table class="table" id="tableSalariosVendedores{{forloop.counter}}">
                <thead class="thead-dark">
                    <tr>
                        <th>Número de operación</th>
                        <th>Total Vendido</th>
                        <th>Fecha</th>
                        <th>Ganancia Total</th>
                        <th>Número de productos vendidos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sale in sales %}
                        <tr>
                            <td>{{ sale.code }}</td>
                            <td>${{ sale.grand_total|stringformat:".2f"|intcomma }}</td>
                            <td>{{ sale.date_added }}</td>
                            <td>${{ sale.gananciaPorVenta|stringformat:".2f"|intcomma }}</td>
                            <td>{{ sale.acumuladorProductosPorVenta|floatformat:"-2"}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script>
                (function($) {
                    $(document).ready(function() {
                        $('#tableSalariosVendedores{{forloop.counter}}').dataTable();
                    });
                })(jQuery);
            </script>
            
        {% endfor %}

        <div class="row" style="text-align: center; margin-top: 20px; margin-bottom: 20px;" id="ventasSemanalesVendedores">
            <h3>Ventas semanales por puntos de venta 👨‍💼</h3>
            <!-- {{grouped_sales}} -->
            {% for origin, sales in grouped_sales_SEMANALES_PV.items %}
            <h5 style="text-align: left;"> {{ origin }}</h5>
            <table class="table" id="tableSalariosVendedoresPasada{{forloop.counter}}">
                <thead class="thead-dark">
                    <tr>
                        <th>Número de operación</th>
                        <th>Total Vendido</th>
                        <th>Fecha</th>
                        <th>Ganancia Total</th>
                        <th>Número de productos vendidos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sale in sales %}
                        <tr>
                            <td>{{ sale.code }}</td>
                            <td>${{ sale.grand_total|stringformat:".2f"|intcomma }}</td>
                            <td>{{ sale.date_added }}</td>
                            <td>${{ sale.gananciaPorVenta|stringformat:".2f"|intcomma }}</td>
                            <td>{{ sale.acumuladorProductosPorVenta|floatformat:"-2"}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script>
                (function($) {
                    $(document).ready(function() {
                        $('#tableSalariosVendedoresPasada{{forloop.counter}}').dataTable();
                    });
                })(jQuery);
            </script>
            
        {% endfor %}

        </div>
        
        

        




    </div>


    <script>
        (function($) {
            $(document).ready(function() {
                $('#tablaStockVendedoresValores').dataTable();
            });
        })(jQuery);
    </script>
    <script>
        (function($) {
            $(document).ready(function() {
                $('#tableSalariosVendedores').dataTable();
                $('#tableSalariosVendedoresSemanaPasada').dataTable();
            });
        })(jQuery);
    </script>
    <script>
        (function($) {
            $(document).ready(function() {
                $('#TablaSalarios').dataTable();
            });
        })(jQuery);
    </script>
    <script>
        (function($) {
            $(document).ready(function() {
                $('#tanla').dataTable();
            });
        })(jQuery);
    </script>

</body>
</html>



{% endblock %}