{% extends "base.html" %}
{% load static %}
<!-- Page title  -->
{% block title %}Sellers{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- Datatables -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css ' %}" rel="stylesheet">
<link href="{% static 'css/pagination_buttons.css ' %}" rel="stylesheet">
{% endblock stylesheets %}

<!-- Page Heading -->
{% block heading %}Sellers{% endblock heading %}

<!-- Page content  -->
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Inventarios Vendedores</title>
</head>
<body>
    <br><br><br><br><br><br><br><br><br>
    <div class="container">
        <div class="titlepage text_align_center">
          <br />
          <h2>Stock Actual de Vendedor</h2>
        </div>
        <div class="row">
          <div class="col-sm">
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Producto</th>
                  <th scope="col">Presentación</th>
                  <th scope="col">Stock Actual</th>
                  <th scope="col">Precio de Venta</th>
                  <!-- <th scope="col">Opciones</th> -->  
                </tr>
              </thead>

              <tbody>
                {% for elemento in lista %}

                <tr>
                  <td>{{elemento.nombreArticulo}}</td>
                  <td>{{elemento.unidad}}</td>
                  <td>{{elemento.cantidad}}</td>
                  <td>${{elemento.precioVentaPublico|floatformat:"2"}}</td>
                  <!-- <td><a href="{% url 'updateStock' elemento.pk %}"><img src="{% static 'images/edit.png' %}" style="width: 30px;" alt="Editar Producto"></a></td> -->
                </tr>
                {% endfor %}
              </tbody>
  
             <br>
            
  
          </div>
        </div>
      </div>
  
    
</body>
</html>

{% endblock %}